<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<!-- 控制台日誌配置 -->
		<appender name="Console" type="log4net.Appender.ConsoleAppender">
			<!-- 日誌輸出格式 -->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
			</layout>
		</appender>

		<!-- 文件存儲日誌配置 -->
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<!-- 保存文件的名稱 -->
			<!--<file value="D:\\log4net.log" />-->
			<file value="./log/log4net.log" />
			<appendToFile value="true" />
			<!-- 文件的編碼方式 -->
			<param name="Encoding" value="UTF-8"/>
			<!-- 每個文件的大小 -->
			<maximumFileSize value="100KB" />
			<!-- 保存文件數量 -->
			<maxSizeRollBackups value="2" />
			<!-- 日誌輸出格式 -->
			<layout type="log4net.Layout.PatternLayout">
				<!--<conversionPattern value="%level %thread %logger - %message%newline" />-->
				<!--%-5level 是一個格式化字符串，用於在日誌消息中顯示日誌級別。其中 % 是格式化字符串的開始符號，- 表示左對齊，5 表示最小寬度為 5 個字符，level 表示要顯示的內容是日誌級別。因此，%-5level 的含義是：顯示日誌級別，左對齊，最小寬度為 5 個字符。-->
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="ALL" />
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
		</root>
	</log4net>
</configuration>